/* wow messy code! please excuse */

:root {
  --pop-color: #007E8B;
  /* --pop-color: #008290;
  --pop-color2: #FFE7D6; */
  --pop-color2: #E1FFF6;
  --main-font:   'Lato', sans-serif ;
  --secondary-font: 'Ubuntu Mono', monospace;


}

a.about_link {
      color: #424242;
  }

  a.about_link:hover{
    color: var(--pop-color);
    background-color:white;
  }

body{
  font-size: 120%;
}

h1, h2, h3 {
    font-family:   var(--secondary-font);
}

h1{
  text-transform: uppercase;
}
p {
    font-family:   var(--main-font);
}

.intro{
    text-align: right;
    position: sticky;
}

.profile_image{
  width: 40%;
  height: 40%;
  text-align: right;
  margin-bottom: 5%;
  border: 5px solid var(--pop-color2);
  border-radius: 50%;

}

.index_list h2 {
  text-align: left;
}

.intro h1{
  color: var(--pop-color);
  text-align: right;
  font-weight: bold;
}

.intro p{
  text-align: right;
}



h1 {
    text-align: center;
    color: #424242;
    font-size: 50px;

    padding-top:20px;

}

.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;

    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.profiles{
  border-style: solid;
  border-color: #E0E0E0;
  border-width: 2px;
}

.imagepadding{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}



.art_image {
    display: block;
    margin-top: 50px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

p {

  size: 130%;

}

.description_section{
 padding-bottom: 5%;
}

.skills{
  font-size: 80%;
  text-align: center;
  padding-top: 5%;
  color: #9E9E9E;



}
.header_image{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pacman{
  width: 70%;
  display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}

.body_images{
  width: 50%;

      border: 5px solid var(--pop-color2);
}

.image_caption{
  font-size: 90%;
  text-align: left;
  font-family: var(--secondary-font);
  padding-top: 1%;

}

.art_caption{
  text-align: center;
}

.body_images_horizontal{
  width: 100%;
  display: block;
    margin-left: auto;
    margin-right: auto;
        border: 5px solid var(--pop-color2);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.5);
}

.container:hover .overlay {
    opacity:1;
}

.text {
    color: white;
    font-size: 23px;
    font-family:   var(--main-font);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    background: var(--pop-color);
    border-radius: 5px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 10;
}

.about {
    color: #424242;
    font-size: 23px;
    font-family:   var(--main-font);
    text-align: center;
}

.icon_link{
  text-align: center;
  padding-top: 5%;
}

.icon_link a{
  color: black;
  background-color: white;
}

.icon_link a:hover {
    text-decoration:none;
    font-weight:none;
    color: var(--pop-color);
    background: none;

}



strong {
    font-weight: bold;
    color: #424242;
}

.rowbottom{
    padding-bottom: 30px;
}

a {
  background-color: var(--pop-color2);
  color: var(--pop-color);
  text-decoration: none;
}

.index_column_left a:hover{
    color: var(--pop-color2);
}
a:hover{
  text-decoration: none;
  background-color: var(--pop-color);
  color: white;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.index_row{
  padding-top: 50px;
}

.small_link{
color: #9E9E9E;
text-align: center;
padding-bottom: 5%;
}

.mobile_only{
  display:none;
}

.header_image a:hover {
  color: none;
}

.page_header {
  background-color: var(--pop-color2);
  position: fixed;
  width: 100vw;
  color: var(--pop-color);
  z-index: 1;
  padding-bottom: 20px;
  margin-left: 0px;

}

.page_header h1{
  color: var(--pop-color);
text-align: left;
padding-left: 0px;
}

.col-md-2{
  text-align: right;
}


.page_header .col-md-2{
  margin-right: 15px;
}

.page-container{

  position: relative;
  top: 140px;
}


.heart_icon{
  width: 15px;
  height: 15px;
  color: var(--pop-color);
}

.made_link{
  font-size: 80%;
  color: #9E9E9E;
  text-align: center;
}

.swatch{
  width: 100%;
}

.header{
  position: sticky;
}

.main_page{
  position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   overflow: auto;
}

.main_page h1{
  padding-bottom: 5%;
  padding-top: 0;
  text-transform: uppercase;
  font-family:   var(--secondary-font);

}


.index_column_left{

  font-color: #424242;
  padding-left: 5%;
  padding-right: 10%;
  background-color: var(--pop-color2);
  height: 100%;
  margin: auto;
  position: relative;


}

.index_column_left .toc {
  margin-left: 0;
  margin-right: 10%;

  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.index_text{
  display: none;
  font-size: 80%;
}
.display{
  show: block;
}

.index_list{
  width: 100%;
}

.index_column_right{
  padding-right: 5%;
  padding-left: 10%;
   vertical-align: middle;


}

.index_column_left h2{
font-size: 120%;
padding-top: 5%;
font-weight: bold;
font-family:   var(--secondary-font);
  text-transform: uppercase;
}

.index_column_left .tags {
font-family:   var(--secondary-font);
}

.index_column_left p {
  font-size: 100%;
  padding-bottom: 1%;
  line-height: 1.1;
  margin-bottom: 0%;


}

.art_header h1{
  text-align:center;
}

.col-md-6{
  padding-top: 8px;
}

/*TABLET CSS */
@media only screen and (max-width: 900px) {

  .col-md-2{
    text-align: left;
  }

  .page_header{
    padding-bottom: 10px;
  }

  .page_header h1{
    padding-left: 0px;
      padding-top:10px;
        padding-bottom: 0;
  }

  .page-container{
    top: 100px;
  }

  .intro{
      text-align: left;

  }

  .profile_image{
    width: 40%;
    height: 40%;
    text-align: left;
    margin-bottom: 5%;
    margin-top:10%;

    border: 5px solid var(--pop-color2);
    border-radius: 50%;


  }



  .intro h1{
    color: var(--pop-color);
    text-align: left;
  }

  .intro p{
    text-align: left;
  }



  .desktop_only{
    display: none;
  }

  .mobile_only{
    display: block;
  }

  .index_column_left{
  padding-left: 10%;
  padding-right: 10%;


}

  .index_column_right {
  padding-left: 10%;
  padding-right: 10%;
}
}


/*MOBILE CSS */
@media only screen and (max-width: 600px) {
  .index_column_left{

    position: static;
    height: auto;

    padding-bottom: 10%;

    padding-top: 10%;
}

  .index_column_left .toc {

    position: static;
    transform: translate(0, 0);
    margin-right: 0;

  }

  h1 {

      color: #424242;
      font-size: 200%;

      padding-top:10%;

  }

  h2{
    font-size: 140%;
  }




  .mobile_only{
    display: block;
  }

  .index_row{
    padding-top: 0px;
  }

  .mobile_column{
    padding-top: 40px;
  }

  .container {
      position: relative;


  }

  .image {
      display: block;
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
        }

.overlay {
      height: 100%;
      width: 100%;
      opacity: 1;
      background-color: rgb(0,0,0,0);
  }

  .art_pages .overlay {
      height: 100%;
      width: 100%;
      opacity: 0;
      background-color: rgb(0,0,0,0);
  }

  .container:hover, .container:focus, .container:active .overlay {
      opacity: 1;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: var(--pop-color);
    font-size: 130%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
  }

  a:hover {
      text-decoration:none;
      font-weight:none;
    
  }





  .about {
      font-size: 130%;
  }



  .container-fluid{

  }

  .page_header {
    margin-left:0px;
  }

  .page_header h1{
  padding-left:0px;
  }

  .art_pages{
    width: 100%;
  }

  .index_list h2 {
    text-align: left;
    font-size: 130%;
    padding-top: 10%;
  }

  .index_column_left h2{
    margin-top: 10%;

          font-size: 130%;


  }


    .index_column_left p{
      font-size: 100%;
      line-height: 1.4;
      padding-top: 1%;
    }

.index_column_left, .index_column_right{
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

.col-md-6{
  padding-top: 5px;
}






}
